@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	text-align: right;
	margin-top: 1em;
}

[epub|type~="z3998:signature"],
cite{
	font-variant: small-caps;
}

blockquote [epub|type~="z3998:signature"]{
	text-align: right;
	margin-top: 0;
}

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}
